*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans' , sans-serif;
    box-sizing: border-box;
}
/*hero section start*/
.hero{
    height: 100vh;
    width: 100%;
    background: black;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 45px;
    padding-left: 8px;
    padding-right: 8px;
}

.logo{
    color: white;
    font-size: 37px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 2%;
}
span{
    color: #f9004d;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}
nav ul li a:hover{
    color: #f9004d;
    transition: .4s;
}

.btn{
    background-color: #f9004d ;
    color: white;
    text-decoration: none;
    border: 2ps solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    margin-right: 2%;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}

/* animation nawsome section start*/
.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15%;
    top: 32%;
  }
  
  .svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
  }
  
  .svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
  
  .svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }
  
  #out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
  }
  
  #inner3,
  #inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  #center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes rotate16 {
    to {
      transform: rotate(360deg);
    }
  }

 /* animation's left side content start */
  .content{
    position: absolute;
    top: 35%;
    left: 8%;
  }

  h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
  }

  h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
  }

  h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
  }

  .newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
  }
  .newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
  }
  .newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 6px;
    top: 5px;
  }
/*About section start*/
  .about{
    width: 100%;
    padding: 100px 0px;
    background-color: #050404f6;
  }
  .about img{
    height: 670px;
    width: 400px;
  }
  .about-text{
    width: 550px;
  }
  .main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    text-transform: capitalize;
    color: white;
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 22px;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 3px;
    line-height: 28px;
    font-size: 23px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/*service section start*/
.service{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.cards{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.cards i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.cards .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/*Contact Me starts */
.contact-me{
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
  }
  .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/* footers starts */
footer{
  position: relative;
  width: 100% ;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p:nth-child(1){
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2){
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social{
  display: flex;
}
.social a{
  width: 45px;
  height: 45px;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: #f9004d;
  border-radius: 50px;
  margin: 22px 10px;
  color: white;
  font-size: 20px;
}
.social a:hover{
  background-color: transparent;
  border: 5px solid #f9004d;
  cursor: pointer;
  transition: .3s;
  transform: scale(1.3);
}
.end{
  color: #f9004d;
  position: absolute;
  bottom: 35px;
  font-size: 15px;
}